@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f172a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cc0000;
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .clip-slant {
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
  }

  .clip-slant-right {
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  }
}
